.main {
  width: 800px;
  /* height: 600px; */
  margin: 0 auto;
}
.tableScroll {
  /* height: 600px; */
  /* height: 554px; */
  /* overflow: auto; */
}
.ant-table-tbody {
  width: 800px;
  /* position:absolute; */
  overflow: auto;
  max-height: 500px;
}